asgiref==3.9.1
astroid==3.3.11
autopep8==2.3.2
certifi==2025.8.3
charset-normalizer==3.4.3
dill==0.4.0
Django==5.2.4
django-cors-headers==4.7.0
djangorestframework==3.16.0
idna==3.10
isort==6.0.1
mccabe==0.7.0
platformdirs==4.3.8
pycodestyle==2.14.0
pylint==3.3.7
pylint-django==2.6.1
pylint-plugin-utils==0.9.0
requests==2.32.4
sqlparse==0.5.3
tomlkit==0.13.3
urllib3==2.5.0
